<!-- hệ Thống Store -->
<div class="w-100 mt-3 mb-1 search-store">
    <h4 class="text-center pt-4">Tìm cửa hàng gần bạn nhất <a href="#!/hethongstore" class="text-black"><i
                class="bi bi-geo-alt"></i></a> </h4>
</div>

<footer class="text-black pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 text-warning"><img src="img/theme_hstatic_net-logo.png" alt="">
                </h5>
                <p>ROGER & FANK cam kết nỗ lực hết mình nhằm cung cấp sản phẩm và dịch vụ đúng với những
                    giá trị mà
                    khách hàng mong đợi.</p>
                <h6 class="text-uppercase text-primary">Cửa hàng</h6>
                <p><i class="bi bi-geo-alt"></i> Hà Nội : 32 Đông Các, P. Ô Chợ Dừa, Q.Đống Đa</p>
                <p><i class="bi bi-geo-alt"></i> Hà Nội: 658 Nguyễn Trãi, P. Thanh Xuân Bắc, Q. Thanh
                    Xuân</p>
                <p><i class="bi bi-geo-alt"></i> Hồ Chí Minh : 17 Đường 3/2, P.11, Q.10</p>
                <p><i class="bi bi-telephone-fill"></i> Số điện thoại: 0798821882</p>
                <p><i class="bi bi-envelope"></i> Email: rogerfankofficial@gmail.com</p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-">
                <h5>VỀ ROGER & FANK</h5>
                <p><a href="#">Sản phẩm nổi bật</a></p>
                <p><a href="#">Khuyến mãi</a></p>
                <p><a href="#">Tất cả sản phẩm</a></p>
                <p><a href="#">Giới thiệu</a></p>
                <p><a href="#">Liên hệ</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-">
                <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                <p><a href="">Chính sách bảo mật</a></p>
                <p><a href="">Chính sách khách hàng thân thiết</a></p>
                <p><a href="">Chính sách Thanh toán, giao nhận</a></p>
                <p><a href="">Câu hỏi thường gặp</a></p>
                <p><a href="">Chính sách đổi trả và hoàn tiền</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-">
                <h5>ĐĂNG KÝ NHẬN TIN</h5>
                <form>
                    <input type="email" name="" id="inputEmail" class="w-75" placeholder="Nhập Email...">
                    <a href=""><i class="bi bi-send-plus send-email"></i></a>
                </form>
                <p>Mỗi tháng R&F đều có những đợt giảm giá sản phẩm mới nhằm chi ân khách hàng. Để có
                    thể cập nhật
                    kịp thời những đợt giảm giá này, vui lòng nhập địa chỉ email của bạn vào ô dưới đây.
                </p>
            </div>

        </div>

        <hr class="mb-4">

        <div class="row align-items-center ">
            <div class="col-md-7 col-lg-8">
                <p>© 2016 GPKD: ROGER & FANK . Số: 01E8028552</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/rogervnn/" class="btn-sm text-black fs-1"><i
                                class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/rogerfank_official/" class="btn-sm text-black fs-1"><i
                                class="bi bi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCesHe-ZmMPfLdZHgXENRITg"
                            class="btn-sm text-black fs-1"><i class="bi bi-youtube"></i></i></a>
                    </li>
                </div>
            </div>
        </div>
</footer>