<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 content">
      <h5 class="ms-5 mt-4 fw-bold">
        QUÁ TRÌNH PHÁT TRIỂN CỦA GIÀY CHELSEA BOOTS
      </h5>
      <p>
        Với những ai yêu thích thời trang hẳn không còn lạ với hình ảnh những
        đôi Chelsea Boots da bóng, cổ điển nhưng câu chuyện đằng sau sự phát
        triển ấy để được biết đến rộng rãi như ngày nay là cả một chặng đường
        dài.
        <br /><br />
        Trong những năm gần đây ta có thể dễ dàng nhận ra rõ sự bùng nổ của dòng
        giày Chelsea Boots. Nhưng hẳn nhiều người vẫn chưa biết đến nguồn gốc và
        những câu chuyện thú vị đằng sau mẫu giày này. Trước khi đi tìm hiểu
        lịch sử mẫu giày này, ROGER & FANK sẽ giới thiệu cho bạn biết thế nào là
        một đôi Chelsea Boots "đúng kiểu".
      </p>
      <span class="fw-bold text-secondary fs-6"
        >I. Phong cách thiết kế của
        <a class="text-decoration-none text-black fw-bold" href="#!sanpham/1"
          >Chelsea Boots.
        </a>
      </span>
      <ol>
        <p>
          5 điều ROGER & FANK liệt kê dưới đây có thể gọi là nét đặc trưng hay
          dấu hiệu nhận biết của một đôi Chelsea Boots cơ bản.
        </p>
        <li>
          Thân giày được cấu tạo từ 2 miếng da và được nối lại bằng 2 mảnh thun
          ở phần vị trí mắt cá chân.
        </li>
        <li>Cổ giày cao tới mắt các chân hoặc hơn một chút</li>
        <li>Miếng thun phần hông giày kéo dài từ cổ đến gần đế giày.</li>
        <li>Mũi giày được làm dáng bo tròn</li>
        <li>Gót giày có chiều cao khoảng 4 cm.</li>
      </ol>
      <div class="mb-3">
        <img
          width="90%"
          class="img-thumbnail"
          src="img/chelseaBootDen1.png"
          alt=""
        />
        <img
          width="90%"
          class="img-thumbnail"
          src="img/chelseaBootDen2.png"
          alt=""
        />
        <img
          width="90%"
          class="img-thumbnail"
          src="img/chelseaBootDen3.png"
          alt=""
        />
      </div>
      <span class="fw-bold text-secondary fs-6"
        >II. Những dấu mốc phát triển quan trọng mà
        <a class="text-decoration-none text-black fw-bold" href="#!/sanpham/1"
          >Chelsea Boots.
        </a>
        đã trải qua.
      </span>
      <p>
        Quay ngược thời gian trở về những năm 1839 thời Victoria năm đôi giày
        Chelsea Boots nguyên thủy đầu tiên ra đời. Cha đẻ của chúng là J.Sparker
        – Hall, thợ đóng giày của nữ hoàng Victoria. Tuy nhiên để trở thành mẫu
        giày nổi tiếng lúc đó không thể không kể đến phát minh vĩ đại "cao su
        lưu hóa" do nhà phát minh Charless Goodyear khám phá ra.
      </p>
      <img
        width="90%"
        class="img-thumbnail"
        src="img/lichSuChelseaBoot.png"
        alt=""
      />
      <p>
        Những đôi giày sử dụng phương pháp trên trở nên mang và cởi dễ dàng hơn.
        Trong bằng sáng chế của mình năm 1851, J.Sparker – Hall có nói: “Cô ấy
        (tức Nữ hoàng Victoria) đi chúng hằng ngày và đó là minh chứng mạnh mẽ
        nhất về giá trị gắn với sáng chế”. Nhờ điều này, đôi giày dần trở nên
        phổ biến trong xã hội Anh Quốc thời điểm đó với tên gọi “Paddock Boots”
        <br />
        Tua nhanh tới những năm 1950, trước khi được gọi với cái tên Chealsea
        Boots. Giày Paddock Boots được coi là món trang phục không thể thiếu của
        các biểu tượng thời trang như Mary Quant và Jean Shrimton và nhóm nghệ
        sĩ lừng danh “Chelsea Set” ở vùng “King’s Road” tại phía Tây London thời
        bấy giờ. "Chelsea" là tên gọi dùng để nói lên phong cách thời trang và
        lối sống của nhóm.
      </p>
      <img
        width="90%"
        class="img-thumbnail"
        src="img/lichSuChelseaBoot1.png"
        alt=""
      />
    </div>
    <div class="col-md-3 col-8 mt-5 ms-5">
      <h6 class="mb-3">Các Bài Viết gần Đây</h6>
      <a class="text-decoration-none text-black" href="#!/baivietchitiet">
        <div class="row mt-1" ng-repeat="x in blogs">
          <div class="col-md-5">
            <img class="img-thumbnail border-0" src="{{x.img}}" alt="" />
          </div>
          <div class="col-md-7">
            <div class="fw-semibold aside-content-title">{{x.title}}</div>
            <span class="aside-content-Date">
              <i class="bi bi-calendar"></i> {{x.NgayDang}}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
