<!-- hệ thống store -->
<div class="container mt-4">
    <span style=" font-size: 13px;" class="text-decoration-none text-black">
        <a class="text-decoration-none text-black" href="#!/">Trang Chủ</a>
        <i class="bi bi-caret-right-fill"></i>
        <a class="text-decoration-none text-black" href="#!/hethongstore">Hệ Thống Cửa Hàng</a>
    </span>
    <p class="text-uppercase fs-3 ms-5">hệ thống cửa hàng</p>
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div class="card border-white">
                <img src="/img/StoreHoGuom.png" alt="">
                <a class="text-black text-decoration-none"
                    href="https://www.google.com/maps/place/Roger+Shoes/@21.019659,105.8297442,16z/data=!4m13!1m7!3m6!1s0x3135ab8fe9dfa64f:0x6749e6c146889cb0!2sRoger+Shoes!3b1!8m2!3d21.0194406!4d105.8273064!3m4!1s0x3135ab8fe9dfa64f:0x6749e6c146889cb0!8m2!3d21.0194406!4d105.8273064">
                    <p><i class="bi bi-geo-alt"></i>32 Đông Các, P. Ô Chợ Dừa, Q.Đống Đa, Hà Nội</p>
                    <p><i class="bi bi-telephone-forward"></i> 079 882 1883</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-white">
                <img src="/img/StoreHoGuom.png" alt="">
                <a class="text-black text-decoration-none"
                    href="https://www.google.com/maps/place/ROGER+%26+FANK+658+Nguy%E1%BB%85n+Tr%C3%A3i/@20.9978781,105.8064801,14z/data=!4m12!1m6!3m5!1s0x3135ab8fe9dfa64f:0x6749e6c146889cb0!2sRoger+Shoes!8m2!3d21.0188117!4d105.82836!3m4!1s0x0:0xf2cdbbb90e838800!8m2!3d20.9893244!4d105.7998043">
                    <p><i class="bi bi-geo-alt"></i>658 Nguyễn Trãi, P. Thanh Xuân Bắc, Quận Thanh Xuân.</p>
                    <p><i class="bi bi-telephone-forward"></i> 079 882 1883</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-white">
                <img src="/img/StoreHCM.png" alt="">
                <a class="text-black text-decoration-none"
                    href="https://www.google.com/maps/place/ROGER+%26+FANK/@10.7753368,106.6778171,17z/data=!3m1!4b1!4m5!3m4!1s0x317528d851f5cd8d:0xbc962c18d00d3bbc!8m2!3d10.775311!4d106.6800339">
                    <p><i class="bi bi-geo-alt"></i> 17 Đường 3/2, P.11, Q.10, Tp Hồ Chí Minh</p>
                    <p><i class="bi bi-telephone-forward"></i> 079 882 1883</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Liên hệ -->
<div class="container">
    <p class="text-uppercase fs-3 ms-5 mt-5">liên hệ</p>
    <div class="row  d-flex justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-3 mb-3">
            <div class="card border-0 bg-body-secondary">
                <h6 class="text-center">Địa Chỉ Trụ Sở</h6>
                <p><i class="bi bi-geo text-danger"></i>Hà Nội : 32 Đông Các, P. Ô Chợ Dừa, Q.Đống Đa</p>
                <p><i class="bi bi-geo text-danger"></i>Hà Nội: 658 Nguyễn Trãi, P. Thanh Xuân Bắc, Q. Thanh Xuân
                </p>
                <p><i class="bi bi-geo text-danger"></i>Hồ Chí Minh : 17 Đường 3/2, P.11, Q.10</p>
            </div>
            <div class="card border-0 bg-body-secondary mt-3 text-center">
                <h6>Số Điện Thoại</h6>
                <p>0798821882</p>
            </div>
            <div class="card border-0 bg-body-secondary mt-3 text-center">
                <h6>Email</h6>
                <p>rogerfankofficial@gmail.com</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card">
                <iframe
                    src="
                    https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.330807535466!2d105.82511771479896!3d21.019445593472458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab8fe9dfa64f%3A0x6749e6c146889cb0!2sRoger%20Shoes!5e0!3m2!1sen!2s!4v1581730548454!5m2!1sen!2s"
                    frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <h4 class="text-secondary">From Liên Hệ</h4>
            <form>
                <input class="w-75 mb-2 inPutLienHe" type="text" placeholder="Họ tên của bạn">
                <input class="w-75 mb-2 inPutLienHe" type="text" placeholder="Địa chỉ email của bạn">
                <input class="w-75 mb-2 inPutLienHe" type="text" placeholder="Số điện thoại">
                <textarea class="w-75 inPutLienHe" rows="5" placeholder="Nội dung"></textarea>
            </form>
            <button class="w-75 bg-black mb-5 text-white">Gửi</button>
        </div>
    </div>
</div>