<!-- nav sale -->
<div>
  <p class="font-monospace text-center sale">Mừng Tết Nguyên Đáng Sale 50%</p>
</div>
<!-- slide -->
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/banner/baner.png" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="img/banner/baner1.png" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="img/banner/banner2.png" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- sale -->
<div class="d-flex flex-column align-items-center">
  <p class="text-center text-uppercase fs-4 mt-3">Khuyến Mãi</p>
  <p class="text-center">
    Các sản phẩm khuyến mãi ngắn của ROGER & FANK được cập nhập hàng ngày tại
    đây
  </p>
</div>
<!-- CountDow -->
<div class="row d-flex justify-content-center">
  <div class="col-md-1 col-3 text-center countdown">
    <span id="days"></span> days
  </div>
  <div class="col-md-1 col-3 text-center countdown">
    <span id="hours"></span> Hours
  </div>
  <div class="col-md-1 col-3 text-center countdown">
    <span id="minutes"></span> Minutes
  </div>
  <div class="col-md-1 col-3 text-center countdown">
    <span id="seconds"></span> Seconds
  </div>
</div>
<!-- sclick  -->
<div class="container mt-5 position-relative">
  <div class="filtering position-relative">
    <div ng-repeat="product in saleProducts"
      class="wap-items-ss brbox d-flex flex-column align-items-center product-item-wrapper">
      <a href="#!sanphamchitiet/{{product.id}}"><img alt="" class="img-fluid" src="{{product.imgSP[0]}}" /></a>
      <div class="textleft">
        <div style="margin-top: 10px">{{product.tenSP}}</div>
        <p>
          {{product.giaSP * (1-product.salePercent) | vietnamCurrency}}
          <del class="ms-2"> {{product.giaSP | vietnamCurrency}} </del>
        </p>
      </div>
      <i class="bi bi-eye-fill eye-icon fs-3 text-center"></i>
      <i ng-click="moHopThoaiThemSanPham(product)" class="bi bi-bag-plus-fill cart-icon fs-3 text-center"></i>
    </div>
  </div>
  <div class="home-arrow home-next-arrow position-absolute">
    <i class="bi bi-chevron-compact-right fs-4"></i>
  </div>
  <div class="home-arrow home-prev-arrow position-absolute">
    <i class="bi bi-chevron-compact-left fs-4"></i>
  </div>
</div>

<!-- title & button item giày nổi bật -->
<div class="container mt-5">
  <div class="container text-center">
    <div class="fs-3">Sản Phẩm Nổi Bật</div>
    <div class="">Các sản phẩm nổi bật theo từng loại sản phẩm</div>
    <div class="text-center mt-1 mb-3">______________________</div>
    <div class="">
      <button ng-repeat="cate in phanloaigiay" class="button-item text-uppercase me-2"
        ng-click="doiPhanLoaiGiay(cate.id)">
        {{cate.name}}
      </button>
    </div>
  </div>
</div>
<!-- item giày nổi bật -->
<div class="container my-3">
  <div class="row">
    <div class="col-md-3 text-center mt-3 item-SPnoiBat product-item-wrapper"
      ng-repeat="product in giay | limitTo: 6:0">
      <a class="text-decoration-none text-black" href="#!/sanphamchitiet/{{product.id}}">
        <div class="wap-ss-img pt-2">
          <img class="img-fluid" src="{{product.imgSP[0]}}" alt="" />
        </div>
        <h6 class="me-5">{{product.tenSP}}</h6>
        <p>
          {{product.giaSP * (1-product.salePercent) | vietnamCurrency}}
          <del class="ms-2"> {{product.giaSP | vietnamCurrency}} </del>
        </p>
      </a>
      <i class="bi bi-eye-fill eye-icon fs-3 text-center"></i>
      <i ng-click="moHopThoaiThemSanPham(product)" class="bi bi-bag-plus-fill cart-icon fs-3 text-center"></i>
    </div>
  </div>

  <div class="row text-center mb-3">
    <p class="">
      Xem Tất Cả: <a class="xemallitem" href="#!sanpham/1"> Giày >></a>
    </p>
  </div>
</div>
<!-- banner  -->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-6 image-banner-hover">
      <img class="image__img" src="img/banner/banner4.png" alt="Bricks" />
      <div class="image__overlay image__overlay--primary">
        <h6>Bộ Sưu Tập</h6>
        <div class="image__title">Các Mẫu Giày Bán Chạy</div>
        <p class="image__description">
          Cùng tham quan các mẫu giày bán chạy nhất tuần của chúng tôi
        </p>
      </div>
    </div>
    <div class="col-md-6 image-banner-hover">
      <img class="image__img" src="img/banner/banner5.png" alt="Bricks" />
      <div class="image__overlay image__overlay--primary">
        <h6>Bộ Sản Phẩm</h6>
        <div class="image__title">Chăm Sóc Da Toàn Diện</div>
        <p class="image__description text-center">
          Những đôi giày hoặc đồ da cũng như các cô vợ xinh đẹp. Luôn cần được
          chăm sóc và makeup kỹ càng thì sẽ luôn luôn đẹp.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- title ví nổi bật -->
<div class="container mt-5">
  <div class="container text-center">
    <div class="fs-3">Các thiết Kế Ví</div>
    <div class="">Sản phẩm bag mới nổi bật của ROGER & FANK</div>
    <div class="text-center mt-1 mb-3">______________________</div>
  </div>
</div>
<!-- item -->
<div class="container my-3">
  <div class="row">
    <div class="col-md-3 text-center mt-3 item-SPnoiBat product-item-wrapper" ng-repeat="product in vi">
      <a class="text-decoration-none text-black" href="#!/sanphamchitiet/{{product.id}}">
        <div class="wap-ss-img pt-2">
          <img class="img-fluid" src="{{product.imgSP[0]}}" alt="" />
        </div>
        <h6 class="me-5">{{product.tenSP}}</h6>
        <p>
          {{product.giaSP * (1-product.salePercent) | vietnamCurrency}}
          <del class="ms-2"> {{product.giaSP | vietnamCurrency}} </del>
        </p>
      </a>
      <i class="bi bi-eye-fill eye-icon fs-3 text-center"></i>
      <i ng-click="moHopThoaiThemSanPham(product)" class="bi bi-bag-plus-fill cart-icon fs-3 text-center"></i>
    </div>
  </div>
  <div class="row text-center">
    <p class="">
      Xem Tất Cả: <a class="xemallitem" href="#!sanpham/2"> Ví >></a>
    </p>
  </div>
</div>
<!-- roger bắt nguồn -->
<div class="container mt-5">
  <div class="container text-center">
    <div class="fs-3">ROGER & FANK NGUỒN GỐC BẮT ĐẦU</div>
    <div class="">
      Video về chặng đường thành lập và hướng đi của ROGER & FANK
    </div>
    <div class="text-center mb-3 fs-1">______________________</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        Trải qua thời gian hình thành và phát triển ROGER & FANK đã trở thành
        một thương hiệu thời trang giày dép, túi ví và phụ kiện, được các đấng
        màu râu Việt Nam yêu thích và chọn lựa. Hiện nay, thương hiệu ROGER &
        FANK đã phát triển mạnh mẽ với những cửa hàng ở 2 thành phố lớn và
        website bán hàng trực tuyến thân thiện, chuyên nghiệp hàng đầu Việt Nam.
        Không dừng lại ở đó, dịch vụ của ROGER & FANK luôn mang đến sự hài lòng
        và quyền lợi của khách hàng luôn được đáp ứng, thoả mãn…
      </p>
    </div>
    <div class="col-md-6">
      <video controls class="play-roger">
        <source src="img/nguongocRoger.mp4" />
      </video>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".filtering").slick({
      slidesToShow: 4,
      slidesToScroll: 4,
      arrows: true,
      dots: false,
      speed: 400,
      prevArrow: $(".home-prev-arrow"),
      nextArrow: $(".home-next-arrow"),
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
          },
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
          },
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          },
        },
      ],
    });
    var filtered = false;
    $(".js-filter").on("click", function () {
      if (filtered === false) {
        $(".filtering").slick("slickFilter", ":even");
        $(this).text("Unfilter Slides");
        filtered = true;
      } else {
        $(".filtering").slick("slickUnfilter");
        $(this).text("Filter Slides");
        filtered = false;
      }
    });
  });
</script>